// Headings
h1, h2, h3, h4, h5, h6 {
  color: $dark;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  &:first-child {
    margin-top: 0;
  }

  + h1, + h2, + h3 {
    margin-top: ($line-height-computed / 2);
  }
}

h4, h5, h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1 { font-size: floor($font-size-base * 2.60); }
h2 { font-size: floor($font-size-base * 2.15); }
h3 { font-size: ceil($font-size-base * 1.70); }
h4 { font-size: ceil($font-size-base * 1.25); }
h5 { font-size: $font-size-base; }
h6 { font-size: ceil($font-size-base * 0.85); }

p {
  margin: 0 0 ($line-height-computed / 2);
}
