// Alignment
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }
.u-text-center { text-align: center; }

// Colors
.u-color-white { color: $white; }
.u-color-black { color: $black; }
.u-color-light { color: $light; }
.u-color-dark { color: $dark; }
.u-color-accent { color: $accent; }
.u-color-positive { color: $positive; }
.u-color-negative { color: $negative; }

// Backgrounds
.u-bg-white { background-color: $white; }
.u-bg-black { background-color: $black; }
.u-bg-light { background-color: $light; }
.u-bg-dark { background-color: $dark; }
.u-bg-accent { background-color: $accent; }
.u-bg-positive { background-color: $positive; }
.u-bg-negative { background-color: $negative; }
